<html>
  <body>
    <h2>Política de Privacidade</h2>
    <p>
      A Equipe Alagou construiu o aplicativo Alagou como um aplicativo gratuito.
      Este SERVIÇO é fornecido pela Equipe Alagou sem nenhum custo e deve ser
      usado como tal.
    </p>
    <p>
      Esta página é usada para informar os visitantes do site sobre nossas
      políticas com a coleta, uso e divulgação de informações pessoais, se
      alguém decidir usar o nosso serviço.
    </p>
    <p>
      Se você optar por usar o nosso serviço, você concorda com a coleta e uso
      de informações em relação a esta política. As informações pessoais que nós
      coleto são usados ​​para fornecer e melhorar o serviço. Nós não vamos usar
      ou compartilhar suas informações com qualquer pessoa, exceto conforme
      descrito nesta Política de Privacidade.
    </p>
    <p>
      Os termos usados ​​nesta Política de Privacidade têm os mesmos
      significados que em nosso Termos e Condições de Uso, que pode ser acessado
      pelo aplicativo Alagou.
    </p>
    <p><strong>Coleta e Uso de Informações</strong></p>
    <p>
      Para uma melhor experiência ao usar nosso serviço, podemos solicitar que
      você nos forneça certas informações de identificação pessoal, incluindo,
      mas não se limitando a nome de usuário, endereço, localização e fotos. A
      informação que nós solicito será retido por nós e usado conforme descrito
      nesta Política de Privacidade.
    </p>
    <p><strong>Log dos Dados</strong></p>
    <p>
      Queremos informar que sempre que você usar o nosso serviço, em caso de
      erro no aplicativo nós coleto dados e informações (por meio de produtos de
      terceiros) no snós telefone chamado logs. Estes dados de registro podem
      incluir informações como como o endereço de protocolo da Internet ("IP")
      de snóss dispositivos, nome do dispositivo, operação versão do sistema,
      configuração do aplicativo ao utilizar nosso serviço, o hora e data de uso
      do Serviço e outras estatísticas.
    </p>
    <p><strong>Segurança</strong></p>
    <p>
      Nós valorizamos ​​sua confiança em nos fornecer suas informações pessoais,
      portanto, estamos nos esforçando para usar meios comercialmente aceitáveis
      ​​de protegê-las. Mas lembre-se de que nenhum método de transmissão pela
      internet, ou método de o armazenamento eletrônico é 100% seguro e
      confiável, e não podemos garantir sua segurança absoluta.
    </p>
    <p><strong>Privacidade das crianças</strong></p>
    <p>
      Estes Serviços não se dirigem a menores de 13 anos. Não intencionalmente
      coletamos informações pessoais identificáveis ​​de crianças menores de 13
      anos. Caso nós descubramos que uma criança menor de 13 anos me fornecnós
      suas informações, nós imediatamente excluirei isso do nosso servidor. Se
      você é um pai ou responsável e você está ciente de que snós filho nos
      fornecnós informações pessoais, entre em contato conosco para que nós
      possamos tomar as ações necessárias.
    </p>
    <p><strong>Mudanças nesta Política de Privacidade</strong></p>
    <p>
      Podemos atualizar nossa Política de Privacidade de tempos em tempos.
      Assim, você é aconselhado para revisar esta página periodicamente para
      quaisquer alterações. Vamos notificá-lo de qualquer alterações postando a
      nova Política de Privacidade de Uso nesta página. Essas mudanças entram em
      vigor imediatamente, após serem publicadas nesta página.
    </p>
    <p><strong>Contato</strong></p>
    <p>
      Se você tiver alguma dúvida ou sugestão sobre nossa Política de
      Privacidade, não hesite em nos contatar.
    </p>
  </body>
</html>
