<html>
  <body>
    <h2>Política de Privacidade</h2>
    <p>
      Daniel Ferrari construiu o aplicativo Alagou como um aplicativo gratuito.
      Este SERVIÇO é fornecido por Daniel Ferrari sem nenhum custo e deve ser
      usado como tal.
    </p>
    <p>
      Esta página é usada para informar os visitantes do site sobre minhas
      políticas com a coleta, uso e divulgação de informações pessoais, se
      alguém decidir usar o meu serviço.
    </p>
    <p>
      Se você optar por usar o meu serviço, você concorda com a coleta e uso de
      informações em relação a esta política. As informações pessoais que eu
      coleto são usados ​​para fornecer e melhorar o serviço. Eu não vou usar ou
      compartilhar suas informações com qualquer pessoa, exceto conforme
      descrito nesta Política de Privacidade.
    </p>
    <p>
      Os termos usados ​​nesta Política de Privacidade têm os mesmos
      significados que em nosso Termos e Condições de Uso, que pode ser acessado
      em Alagou.
    </p>

    <p><strong>Coleta e Uso de Informações</strong></p>
    <p>
      Para uma melhor experiência ao usar nosso serviço, posso solicitar que
      você nos forneça certas informações de identificação pessoal, incluindo,
      mas não se limitando a nome de usuário, endereço, localização e fotos. A
      informação que eu solicito será retido por mim e usado conforme descrito
      neste política de Privacidade.
    </p>

    <p><strong>Log dos Dados</strong></p>
    <p>
      Quero informar que sempre que você usar o meu serviço, em caso de erro no
      aplicativo eu coleto dados e informações (por meio de produtos de
      terceiros) no seu telefone chamado logs. Estes dados de registro podem
      incluir informações como como o endereço de protocolo da Internet ("IP")
      de seus dispositivos, nome do dispositivo, operação versão do sistema,
      configuração do aplicativo ao utilizar meu serviço, o hora e data de uso
      do Serviço e outras estatísticas.
    </p>

    <p><strong>Segurança</strong></p>
    <p>
      Eu valorizo ​​sua confiança em nos fornecer suas informações pessoais,
      portanto, estou me esforçando para usar meios comercialmente aceitáveis
      ​​de protegê-la. Mas lembre-se de que nenhum método de transmissão pela
      internet, ou método de o armazenamento eletrônico é 100% seguro e
      confiável, e não posso garantir sua segurança absoluta.
    </p>

    <p><strong>Privacidade das crianças</strong></p>
    <p>
      Estes Serviços não se dirigem a menores de 13 anos. Não intencionalmente
      coleto informações pessoais identificáveis ​​de crianças menores de 13
      anos. Caso eu descubra que uma criança menor de 13 anos me forneceu suas
      informações, eu imediatamente excluirei isso do meu servidor. Se você é um
      pai ou responsável e você está ciente de que seu filho nos forneceu
      informações pessoais, entre em contato comigo para que eu possa tomar as
      ações necessárias.
    </p>

    <p><strong>Mudanças nesta Política de Privacidade</strong></p>
    <p>
      Posso atualizar nossa Política de Privacidade de tempos em tempos. Assim,
      você é aconselhado para revisar esta página periodicamente para quaisquer
      alterações. Vou notificá-lo de qualquer alterações postando a nova
      Política de Privacidade nesta página. Essas mudanças entram em vigor
      imediatamente, após serem publicadas nesta página.
    </p>

    <p><strong>Contato</strong></p>
    <p>
      Se você tiver alguma dúvida ou sugestão sobre minha Política de
      Privacidade, não hesite em me contatar.
    </p>
  </body>
</html>
