<div style="background-color: white; padding: 16px;">
  <div style="margin-bottom: 24px;">
    <img
      src="https://res.cloudinary.com/devmkylpi/image/upload/v1600457131/logo_szw3ih_1_y4lhki.png"
    />
  </div>
  <p style="font-size: 16px; color: black;">
    Olá //name//,
  </p>
  <p style="font-size: 16px; color: black;">
    Você está recebendo este e-mail porque você (ou alguém) solicitou resetar a
    senha da conta vinculada a este e-mail.
  </p>
  <p style="font-size: 16px; color: black;">
    Por favor, em seu celular, abra o link abaixo, tendo o aplicativo Alagou
    instalado, para proseguir com a mudança de senha.
  </p>
  <a
    href="//link//"
    style="color: #3dbaba; font-size: 16px; text-decoration: none;"
    >Clique aqui</a
  >
  <p style="font-size: 16px; color: black;">
    A equipe Alagou deseja a você um ótimo dia!
  </p>
</div>
<div></div>
