<div style="background-color: white; padding: 16px;">
  <div style="margin-bottom: 24px;">
    <img
      src="https://res.cloudinary.com/devmkylpi/image/upload/v1600457131/logo_szw3ih_1_y4lhki.png"
    />
  </div>
  <p style="font-size: 16px; color: black;">
    Id: //id//
  </p>
  <p style="font-size: 16px; color: black;">
    Nome: //name//
  </p>
  <p style="font-size: 16px; color: black;">
    Email: //email//
  </p>
  <p style="font-size: 16px; color: black;">
    Mensagem: //message//
  </p>
</div>
